.imgContainer {
  height: 50vh;
  max-width: 30vw;
  background-color: #fff;
  overflow: hidden;
  margin: 100px;
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgContainer img {
  height: 100%;
  cursor: pointer;
}
.imgContainer img:hover {
  transform: scale(1.5);
  transition: 0.15s ease-in-out;
}
.detailContainer {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 0;
}
.detail {
  width: 30vw;
  margin: 0;

  margin-top: 30px;
}
.allPicsContainer {
  width: 100vw;
  border-top: solid 1px #333;
  display: flex;
  padding-top: 20px;
  margin-top: -50px;
  margin-bottom: 30px;
}
.allPics {
  width: fit-content;
  height: 100px;
  display: flex;
  overflow: hidden;
}
.picContainer {
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
.pic {
  height: 100%;
  filter: none;
  cursor: pointer;
}
.picked {
  height: 100%;
  filter: brightness(0.2);
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
.pic:hover {
  filter: brightness(0.5);
  transition: 0.15s ease-in-out;
}
.detail span {
  background-color: #d62828;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 20px;
}
.backBtn {
  width: 35px;
  position: absolute;
  top: 130px;
  left: 50px;
  cursor: pointer;
}
.backBtn:hover {
  fill: #d62828;
  transition: 0.15s ease-in-out;
}
.detail button:hover {
  background-color: #fff;
  color: #d62828;
  transition: 0.15s ease-in-out;
}
@media screen and (max-width: 767px) {
  .backBtn {
    top: 110px;
    left: 30px;
    cursor: pointer;
  }
  .detailContainer {
    flex-direction: column;
  }
  .imgContainer {
    height: 80vh;
    min-width: 100vw;
    /* margin: auto; */
    margin-bottom: 20px;
    background-color: #dcdcdc;
  }
  .detail {
    margin-top: -100px;
    width: 80vw;
    margin: 0;
  }
  .imgContainer img {
    width: 100%;
    height: 100%;

    cursor: pointer;
    object-fit: cover;
  }
  .detail {
    border-bottom: solid 1px #333;
    padding-bottom: 20px;
  }
  .detail button {
    position: relative;
    /* top: 130px; */
  }
  .allPics {
    height: 200px;
    width: 90vw;
    flex-wrap: wrap;
    margin-top: 70px;
  }
  .allPicsContainer {
    border: none;
  }
  .picContainer {
    margin-bottom: 10px;
  }
}
